doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body

    div.container

      include navigation.pug

      h1.mt-3.mb-3 CFA Fellowship Dashboard

      block content

    include footer.pug
